# DIN Server Ports
PORT=5000
NODE_ENV=development

# Database URIs
MONGO_URI=mongodb://localhost:27017/din_ecommerce

# Security & Authentication Key
JWT_SECRET=din_premium_key_secret_2026

# Payment Gateway Integrations
STRIPE_SECRET_KEY=sk_test_...

# Cloud Media Integrations
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
